.top-container{
   background-color: #d4f3ef;
   margin: 0;
   padding-top: 100px;
   position: relative;
   }

.middle-container{
margin-bottom: 50px;
/*background-color: #ec823a; height: 200px; width: 200px;*/}

.bottom-container{background-color: #fecea8; /* height: 200px; width: 200px;*/}

.top-cloud{
  position: absolute; top: 50px; right: 500px
  }

.bottom-cloud{
  position: absolute; left: 500px;
  }

.lower-image{
  width: 20%;
  float: left;
  padding: 20px;
  }
.lower-image-2{
  width: 20%;
  float: right;
  padding: 20px;
  }
.profile-image{
  width: 15%;
  }

.skill-row{
  margin: 50px auto 50px auto;
  text-align: left;
  width: 50%;
  }
.lower-skill-header{
  text-align: right;
  }

.clear-test-left{
  clear: left;
  }

.clear-test-right{
  clear: right;
  }

a{
  color: #581c0c;
  text-decoration: none;
  font-family: "VT323", monospace;
  font-size: 3rem;
  }

a:hover {
  text-decoration: underline;
  }

body{
  background-color: #e8e4e1;
  font-family: "lucida console", "lucida sans typewriter", monospace;
  font-size: 1.25rem;
  line-height: 2;
  margin: 0;
  text-align: center;
  }

h1{
  margin: 0 auto 0 ;
  color: #581c0c;
   font-family: "VT323", monospace;
   font-size: 4rem;
  }


h2{
  color: #7c3c21;
  font-family: "VT323", monospace;
  font-size: 2.5rem;
  font-weight: normal;
  margin: 0;
  }

h3{
  color: #ec823a;
  font-size: 1.5rem;
  }

hr{
  border-style: dotted none none;
  border-width: 10px;
  width: 175px;
  border-color: #ec823a;
  }
